@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@layer base {
    .custom-heading {
        font-family: 'Poppins', sans-serif !important;
        font-size: 2.3rem !important; /* Slightly larger for elongated effect */
        font-weight: 600 !important; /* Reduce thickness */
        color: #1a365d !important;
        letter-spacing: 0.01em !important; /* Increases spacing to elongate letters */
        line-height: 1.5 !important; /* Adjust line height for better spacing */
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) !important; /* Softer shadow */
    }
    
}


/* Gradient Text Effect */
.gradient-text {
    background: linear-gradient(to right, #1a365d, #00274d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
